#debug
{
	position: absolute;
	top:0; 
	right:0;
	text-align:right;
	z-index:100;
	
}
#debug_links
{
	clear:both;
}

#debug_links a
{
	color: #ccc;
	text-decoration:none;
	font-weight: bold;
}
#debug_info
{
	display:none;
	background-color: #fff;
}
#debug tr, td
{
	border: 1px dotted black;
	color:#333;
	font-size:11px;
} 