body 
{
	color: blue;
	font: normal normal normal 76%/normal Helvetica, sans-serif;
	background-color:#fff;
}

#bar
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	min-height:15px;
	background-color: #4682B4;
	color: #ddd;
}

#bar a
{
	color: #ddd;
}

#bar a:hover
{
	color: #ddd;
	text-decoration:none;
}

#Content 
{
	margin:0px auto; /* Right and left margin widths set to "auto" */
	padding:50px;
	width:980px;
	
	background-color:#fff;
	border: 1px solid #808080;
}

#message
{
	margin: 0px auto;
	text-align:center;
	background-color:#eee;
	color:#000;
	width:250px;
	height:18px;
}

#message a
{
	color:#000;
	font-weight:bold;
}

#message a:hover
{
	text-decoration:none;
}

input.placeholder  {
	color:#999999;
}

div.cl
{
	clear:both;
}

#squashResults {font: normal normal normal 76%/normal Verdana, sans-serif; color: #696969}
#squashResults h3 {font-size:18px;}
#squashResults table.results td {padding:10px; text-align:center; border:none;}
#squashResults table.results .highlight {background-color: #FFFFaa}
#squashResults table.results .playerName {font-size: 13px; color: #696969; font-weight: bold}
#squashResults table.results td.result span.ex {color: #eee}
#squashResults table.results td.result input {border:1px solid #fff; background-color:#fff; width:33px; font-size:14px; font-weight:bold}
#squashResults table.results td.highlight input {background-color: #ffffaa}
#squashResults table.results td.result input.active {border: 1px solid #ccc; }
#squashResults table.results td.result span.colon {background-color:#fff}
