body 
{
	color: #696969;
	font: normal normal normal 76%/normal Helvetica, sans-serif;
	background-color:#fff;
}

#bar
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding-top: 5px;
	
	padding-bottom: 5px;
	min-height:15px;
	background-color: #92140C;
	color: #ddd;
}

#bar a
{
	color: #ddd;
}

#bar a:hover
{
	color: #ddd;
	text-decoration:none;
}

#bar #logged {margin-left:10px;}
#bar #logout {float:right; margin-right:10px;}

#Content 
{
	margin:0px auto; /* Right and left margin widths set to "auto" */
	padding:20px;
	width:980px;
	
	background-color:#fff;
	/*border: 1px solid #eee;*/
}

#message
{
	margin: 0px auto;
	text-align:center;
	background-color:#eee;
	color:#000;
	width:250px;
	height:18px;
}

#message a
{
	color:#000;
	font-weight:bold;
}

#message a:hover
{
	text-decoration:none;
}

input.placeholder  {
	color:#999999;
}

div.cl
{
	clear:both;
}
.ajaxLoader, .okIcon {display:none;} 
.squashContent {font: normal normal normal 76%/normal Verdana, sans-serif; color: #696969; }
a {color: #45525B}
a:hover {text-decoration:none;}

#home p {margin-left:200px; font-size:25px;margin-top:60px;}
#home p a {color: #A10021; font-weight:bold;}

#login {width: 270px; margin: 0px auto;}
#login input {border:1px solid #ccc; background-color:#fff; font-size:13px; padding:3px; letter-spacing:2px; border-radius:4px; margin-bottom:10px;}
#login input:focus {border:1px solid #92140C; background-color: #f9f9f9}
#login input:hover {border:1px solid #92140C;}
#login input.text {width:225px;}
#login input.submit {float:right; margin-right:2px;}
#login input.submit:hover {cursor:pointer;}
#login label {display:block; float:left; margin-top:3px; padding: 3px; width: 35px; font-size:13px;}


#squashResults div.date {font-size:23px; font-weight:bold; color: #142524; margin-left:200px;margin-top:20px;}
#squashResults div.date span {padding-left:10px; padding-right:10px; font-size:10px;}
#squashResults div.date span a {color: #45525b}

#squashResults div.today {margin-left:410px;font-size: 14px;height:20px;}

#squashResults p.editInfo {margin: 30px 300px 0px;display:block;float:right; color:#c0c0c0}
#squashResults table.results {text-align:center; margin-left: 200px; border-collapse:collapse;}
#squashResults table.results td {padding:5px; text-align:center; border:none; width:43px; border: 1px solid #f1f1f1;}
#squashResults table.results .highlight {background-color: #f7f7f7}
#squashResults table.results .playerName {font-size: 13px; color: #696969; font-weight: bold; height:40px; width:40px;border: 1px solid #f1f1f1;}


#squashResults table.results td.result span.ex {color: #ccc}
#squashResults table.results td.result input {border:1px solid #fff; background-color:#fff; width:43px; font-size:14px; font-weight:bold; padding:5px; letter-spacing:3px}
#squashResults table.results td.highlight input {background-color: #ebeaff}
#squashResults table.results td.result input.active {border: 1px solid #ccc; border-radius:3px; background-color:#e4e3f7}
#squashResults table.results td.result input.activeSecond {border: 1px solid #ccc; border-radius:3px; background-color:#fafaff; color: #a2a2a2}
#squashResults table.results td.result span.colon {background-color:#fff}

#squashRanking {font-size: 14px;margin: 0px auto; width: 500px;}
#squashRanking div.title {margin-left:130px;margin-bottom:40px; float:left;}
#squashRanking div.title h1 {margin-bottom:-4px; font-size:25px; font-weight:bold; color: #142524;margin-top:23px;}
#squashRanking div.title span {color: #ddd;font-size:15px;}

#squashRanking div.menu {float:left;margin-top:10px;}
#squashRanking div.menu li {margin-bottom:3px}
#squashRanking div.menu a {font-size:10px;}

#squashRanking li {list-style: none;margin-bottom: 10px;}
#squashRanking li span.position {float:left; width: 30px; text-align:right; margin-right:20px;}
#squashRanking li span.player {float:left; width: 170px; text-align:left; margin-right:20px;}

#squashRanking li.position_1 {font-size: 36px;}
#squashRanking li.position_1 span.position {color: #ffd83d}
#squashRanking li.position_2 {font-size: 30px;}
#squashRanking li.position_2 span.position {color: #c2c2c2}
#squashRanking li.position_3 {font-size: 26px;}
#squashRanking li.position_3 span.position {color: #996600}

.squashContent .links {width: 200px; margin: 0px auto; font-size:18px; margin-top:70px; font-weight:bold;}

#squashRankingStats {font-size: 14px;margin: 0px auto; width: 800px;}
#squashRankingStats div.title {margin-left:200px;margin-bottom:40px;}
#squashRankingStats div.title h1 {margin-bottom:-4px; font-size:25px; font-weight:bold; color: #142524;margin-top:23px;}
#squashRankingStats div.title span {color: #ddd;font-size:15px;}
