RewriteEngine On

RewriteRule ^(.*)ajax ajax.php [QSA,L] 
RewriteCond %{REQUEST_URI} \..+$
RewriteRule .* - [L] 
# wszystkie pozostale requesty na glowny front-controller

RewriteRule ^(.*)$ index.php [QSA,L] 

